input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



.info{
  position: absolute;
  width: 100%;
  z-index: 100;;
  text-align: center;
}

.background-gradient__circle {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  z-index: 1;
  height: 120%;
}
.add-page__wrapper-dark {
position: relative;
  background: linear-gradient(#FC7DB8, #495CFC);
  top: 100%;
  height: 92vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.back__button {
  position: absolute;
  top: 2rem;
  left: 2.25rem;
  width: 5rem;
  cursor: pointer;
  z-index: 3;
}