/*Home Layout*/
.main__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  align-items: center;
  justify-items: center;
  height: 100%;
}

.carts-container {
  margin: auto;
  width: 94%;
  display: flex;
  overflow-x: auto;
}

.left-arrow {
  transform: rotate(180deg);
  position: absolute;
  align-self: center;
  left: 1.5%;
}
.right-arrow {
  position: absolute;
  align-self: center;
  right: 1.5%;
}

::-webkit-scrollbar {
  width: 0 !important;
}